.body {
    background-color: #ffffff; /* Light background for the main body */
    color: #54585A; /* Darker gray for primary text */
    font-family: Arial, sans-serif; /* You can choose a different font that fits your branding */
}

 
.App-header h1 {
    text-align: center; /* This will center the text in its container */
}



.privacy-policy-container h3,
.privacy-policy-container h4,
.privacy-policy-container h5,
.privacy-policy-container h6,
.privacy-policy-container h7 {
    color: #B88813;
    background-color: #D8D4D5; /* Light gray background for the about section */
    padding: 20px;
    font-size: 1.5em;
    
}
  
  
.privacy-policy-container {
    background-color: #D8D4D5; /* Light gray background for the about section */
    padding: 20px;
}
  

  
footer {
    background-color: #154734; /* Dark green background for the footer */
    color: #ffffff; /* White text for contrast */
    padding: 10px 0;
  }
  



 